<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>test</title>
    <!-- Bootstrap core CSS -->
    <!--<link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">-->
    <link href="/static/css/bootstrap.css" rel="stylesheet">

</head>
<body>
    <!--h1 style="background-color: antiquewhite;color: black">Flight Info System</h1-->
    <!-- jQuery (Bootstrap 的 JavaScript 插件需要引入 jQuery) -->
      <script src="https://code.jquery.com/jquery.js"></script>
      <!-- 包括所有已编译的插件 -->
      <script src="/static/js/bootstrap.min.js"></script>


      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor03">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="http://127.0.0.1:8000/login/home">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="http://127.0.0.1:8000/login/passenger">Passengers</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="http://127.0.0.1:8000/login/manager">Managers</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search">
            <button class="btn btn-danger my-2 my-sm-0" type="submit">Like!</button>
          </form>
        </div>
      </nav>




      <br/>
      <br/>
      <br/>
      <div class="container">

        <div class="progress">
          <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: 100%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <h1>About Me</h1>
        <p>This website is designed by Rongrong(Spencer) Liu. He is currently a master of computer science student at University of Virginia. Previous to that, he studied and lived in Shanghai.
        <p>The website is developed using Python, with Django as backend and Bootstrap as frontend. A hand-drawn look style sheet named Sketchy is used to replace the original Bootstrap widgets.</p>
        <p><small>A lot of functions is still under development.</small></p>
        <p>Hope you can like it.</p>
        <div class="progress">
          <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 100%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
        </div>



        <blockquote class="blockquote text-center">
          <p class="mb-0">I remember years ago a guy I knew told me that people going to England find exactly what they go looking for.</p>
          <footer class="blockquote-footer">Helene Hanff in <cite title="Source Title">'84, Charing Cross Road'</cite></footer>
        </blockquote>



      </div>

</body>
</html>