<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>test</title>
    <!-- Bootstrap core CSS -->
    <!--<link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">-->
    <link href="/static/css/bootstrap.css" rel="stylesheet">

</head>
<body>
    <!--h1 style="background-color: antiquewhite;color: black">Flight Info System</h1-->
    <!-- jQuery (Bootstrap 的 JavaScript 插件需要引入 jQuery) -->
      <script src="https://code.jquery.com/jquery.js"></script>
      <!-- 包括所有已编译的插件 -->
      <script src="/static/js/bootstrap.min.js"></script>


      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor03">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="http://127.0.0.1:8000/login/home">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="http://127.0.0.1:8000/login/passenger">Passengers</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Managers</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="http://127.0.0.1:8000/login/about">About</a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search">
            <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>




      <br/>
      <br/>
      <br/>
      <div class="container">
        
        <div class="row">
          <div class="col-lg-12">
            <h2>Flight Information</h2>
          </div>
        </div>



        <div class="row">
          <div class="col-lg-4">
            <div class="bs-component" id="column1">
              <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
                <div class="card-header">Terminal T1-A2</div>
                <div class="card-body">
                  <h4 class="card-title">New York</h4>
                  <p class="card-text">Leave at 8:30pm, the total number of passenger is 500. Current status: delayed.</p>
                </div>
              </div>
              <div class="card text-white bg-secondary mb-3" style="max-width: 20rem;">
                <div class="card-header">Terminal T2-B2</div>
                <div class="card-body">
                  <h4 class="card-title">Seattle</h4>
                  <p class="card-text">Flight No. QR103: Leave at 12:30:00 2019-05-21, the total number of passenger is 300. Current status: Canceled.</p>
                </div>
              </div>
              <div class="card text-white bg-success mb-3" style="max-width: 20rem;">
                <div class="card-header">Terminal T2-B2</div>
                <div class="card-body">
                  <h4 class="card-title">Seattle</h4>
                  <p class="card-text">Flight No. QR106: Leave at 10:30:00 2019-05-22, the total number of passenger is 300. Current status: On Time.</p>
                </div>
              </div>
              <div class="card text-white bg-danger mb-3" style="max-width: 20rem;">
                <div class="card-header">Terminal T2-C1</div>
                <div class="card-body">
                  <h4 class="card-title">San Francisco</h4>
                  <p class="card-text">Flight No. UA303: Leave at 14:30:00 2019-05-12, the total number of passenger is 350. Current status: On Time.</p>
                </div>
              </div>
              <div class="card text-white bg-warning mb-3" style="max-width: 20rem;">
                <div class="card-header">Terminal T1-C1</div>
                <div class="card-body">
                  <h4 class="card-title">San Diego</h4>
                  <p class="card-text">Flight No. UA306: Leave at 13:30:00 2019-05-13, the total number of passenger is 350. Current status: Delayed.</p>
                </div>
              </div>
              <div class="card text-white bg-info mb-3" style="max-width: 20rem;">
                <div class="card-header">Terminal T1-C3</div>
                <div class="card-body">
                  <h4 class="card-title">New York</h4>
                  <p class="card-text">Flight No. UA308: Leave at 09:30:00 2019-05-13, the total number of passenger is 350. Current status: On Time.</p>
                </div>
              </div>
              <div class="card bg-light mb-3" style="max-width: 20rem;">
                <div class="card-header">Terminal T2-A2</div>
                <div class="card-body">
                  <h4 class="card-title">New York</h4>
                  <p class="card-text">Flight No. UA420: Leave at 08:30:00 2019-05-16, the total number of passenger is 300. Current status: On Time.</p>
                </div>
              </div>
              <div class="card text-white bg-dark mb-3" style="max-width: 20rem;">
                <div class="card-header">Terminal T1-B3</div>
                <div class="card-body">
                  <h4 class="card-title">New York</h4>
                  <p class="card-text">Flight No. UA425: Leave at 08:30:00 2019-05-26, the total number of passenger is 300. Current status: On Time.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="bs-component" id="column2">
              <div class="card border-primary mb-3" style="max-width: 20rem;">
                <div class="card-header">Terminal T1-C2</div>
                <div class="card-body">
                  <h4 class="card-title">San Diego</h4>
                  <p class="card-text">Flight No. QR625: Leave at 10:30:00 2019-05-07, the total number of passenger is 300. Current status: On Time.</p>
                </div>
              </div>
              <div class="card border-secondary mb-3" style="max-width: 20rem;">
                <div class="card-header">Terminal T1-C3</div>
                <div class="card-body">
                  <h4 class="card-title">Seattle</h4>
                  <p class="card-text">Flight No. QR725: Leave at 10:30:00 2019-05-08, the total number of passenger is 300. Current status: On Time.</p>
                </div>
              </div>
              <div class="card border-success mb-3" style="max-width: 20rem;">
                <div class="card-header">Terminal T1-C3</div>
                <div class="card-body">
                  <h4 class="card-title">London</h4>
                  <p class="card-text">Flight No. QR825: Leave at 11:30:00 2019-05-18, the total number of passenger is 300. Current status: On Time.</p>
                </div>
              </div>
              <div class="card border-danger mb-3" style="max-width: 20rem;">
                <div class="card-header">Terminal T2-B3</div>
                <div class="card-body">
                  <h4 class="card-title">Boston</h4>
                  <p class="card-text">Flight No. CN825: Leave at 17:30:00 2019-05-03, the total number of passenger is 300. Current status: Canceled.</p>
                </div>
              </div>
              <div class="card border-warning mb-3" style="max-width: 20rem;">
                <div class="card-header">Terminal T2-B1</div>
                <div class="card-body">
                  <h4 class="card-title">Seattle</h4>
                  <p class="card-text">Flight No. CN725: Leave at 16:30:00 2019-05-04, the total number of passenger is 300. Current status: Delayed.</p>
                </div>
              </div>
              <div class="card border-info mb-3" style="max-width: 20rem;">
                <div class="card-header">Terminal T2-B2</div>
                <div class="card-body">
                  <h4 class="card-title">Boston</h4>
                  <p class="card-text">Flight No. UA725: Leave at 16:30:00 2019-05-30, the total number of passenger is 350. Current status: On Time.</p>
                </div>
              </div>
              <div class="card border-light mb-3" style="max-width: 20rem;">
                <div class="card-header">Terminal T2-C1</div>
                <div class="card-body">
                  <h4 class="card-title">San Diego</h4>
                  <p class="card-text">Flight No. QR725: Leave at 16:30:00 2019-05-30, the total number of passenger is 250. Current status: On Time.</p>
                </div>
              </div>
              <div class="card border-dark mb-3" style="max-width: 20rem;">
                <div class="card-header">Terminal T2-C3</div>
                <div class="card-body">
                  <h4 class="card-title">New York</h4>
                  <p class="card-text">Flight No. CN925: Leave at 12:30:00 2019-05-29, the total number of passenger is 250. Current status: On Time.</p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="bs-component">
              <!--
              <div class="card mb-3">
                <h3 class="card-header">Card header</h3>
                <div class="card-body">
                  <h5 class="card-title">Special title treatment</h5>
                  <h6 class="card-subtitle text-muted">Support card subtitle</h6>
                </div>
                <img style="height: 200px; width: 100%; display: block;" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22318%22%20height%3D%22180%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20318%20180%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_158bd1d28ef%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A16pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_158bd1d28ef%22%3E%3Crect%20width%3D%22318%22%20height%3D%22180%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22129.359375%22%20y%3D%2297.35%22%3EImage%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" alt="Card image">
                <div class="card-body">
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">Cras justo odio</li>
                  <li class="list-group-item">Dapibus ac facilisis in</li>
                  <li class="list-group-item">Vestibulum at eros</li>
                </ul>
                <div class="card-body">
                  <a href="#" class="card-link">Card link</a>
                  <a href="#" class="card-link">Another link</a>
                </div>
                <div class="card-footer text-muted">
                  2 days ago
                </div>
              </div>
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Card title</h4>
                  <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="card-link">Card link</a>
                  <a href="#" class="card-link">Another link</a>
                </div>
              </div>
              -->



              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Make Changes!</h4>
                  <h6 class="card-subtitle mb-2 text-muted">Please enter the information</h6>
                  
                  <div class="form-group">
                    <label class="col-form-label" for="inputDefault">flight_no</label>
                    <input type="text" class="form-control" placeholder="Default input" id="flight_no">
                  </div>
                  <div class="form-group">
                    <label class="col-form-label" for="inputDefault">destination</label>
                    <input type="text" class="form-control" placeholder="Default input" id="destination">
                  </div>
                  <div class="form-group">
                    <label class="col-form-label" for="inputDefault">leaving_date</label>
                    <input type="text" class="form-control" placeholder="yyyy-mm-dd" id="leaving_date">
                  </div>
                  <div class="form-group">
                    <label class="col-form-label" for="inputDefault">boarding_time</label>
                    <input type="text" class="form-control" placeholder="hh:mm:ss" id="boarding_time">
                  </div>
                  <div class="form-group">
                    <label class="col-form-label" for="inputDefault">terminal</label>
                    <input type="text" class="form-control" placeholder="T1-A1" id="terminal">
                  </div>
                  <div class="form-group">
                    <label class="col-form-label" for="inputDefault">number_of_passengers</label>
                    <input type="text" class="form-control" placeholder="Default input" id="number_of_passengers">
                  </div>
                  <div class="form-group">
                    <label class="col-form-label" for="inputDefault">status</label>
                    <input type="text" class="form-control" placeholder="Default input" id="status">
                  </div>
                  <button type="button" class="btn btn-outline-success" type="button" onclick="return search_key_word()">Add!</button>
                </div>
              </div>




            </div>
          </div>
        </div>


        <blockquote class="blockquote text-center">
          <p class="mb-0">I remember years ago a guy I knew told me that people going to England find exactly what they go looking for.</p>
          <footer class="blockquote-footer">Helene Hanff in <cite title="Source Title">'84, Charing Cross Road'</cite></footer>
        </blockquote>



      </div>











      <script>
        function search_key_word(){
            


           var flight_noDiv = document.getElementById("flight_no"); 
           var flight_no = flight_noDiv.value.trim();
           var destinationDiv = document.getElementById("destination");
           var destination = destinationDiv.value.trim();
           var leaving_dateDiv = document.getElementById("leaving_date");
           var leaving_date = leaving_dateDiv.value.trim();
           var boarding_timeDiv = document.getElementById("boarding_time");
           var boarding_time = boarding_timeDiv.value.trim();
           var terminalDiv = document.getElementById("terminal");
           var terminal = terminalDiv.value.trim();
           var number_of_passengersDiv = document.getElementById("number_of_passengers");
           var number_of_passengers = number_of_passengersDiv.value.trim();
           var statusDiv = document.getElementById("status");
           var status = statusDiv.value.trim();

           

           var word = {
            "flight_no":flight_no,
            "destination":destination,
            "leaving_date":leaving_date,
            "boarding_time":boarding_time,
            "terminal":terminal,
            "number_of_passengers":number_of_passengers,
            "status":status
           };



           $.ajax(
           {
            type: "POST",
            data: word,
            success: function (data) {
                    // 这里remove的时候需要remove两次才能够去掉一个节点。第一次显示是#text，第二次才是TR.
                    //var table_body = document.getElementById("table_body");
                    //var childs = table_body.childNodes;
                    //var i = childs.length-1;
                    //alert(childs[i].nodeName)
                    //table_body.removeChild(childs[i]);
                    //table_body.removeChild(table_body.childNodes[childs.length-1]);
                     data = JSON.parse(data);
                     var table_body = $("#table_body");
                     var column1 = $("#column1");
                     var column2 = $("#column2");
                     //var childs1 = column1.childNodes;
                     //var childs2 = column2.childNodes;
                     var str = `<div class=\"card text-white bg-primary mb-3\" style=\"max-width: 20rem;\"><div class=\"card-header\">Terminal ${terminal}</div><div class=\"card-body\"><h4 class=\"card-title\">${destination}</h4><p class=\"card-text\">Flight No. ${flight_no}: Leave at ${boarding_time} ${leaving_date}, the total number of passenger is ${number_of_passengers}. Current status: ${status}.</p></div></div>`;
                     if (document.getElementById("column1").childNodes.length<=document.getElementById("column2").childNodes.length) {
                        column1.append(str);
                        column1.append("\n");
                     } else {
                       column2.append(str);
                       column2.append("\n"); 
                     }
                     alert("done");
                },
           })












           /*
           var column1 = $("#column1");
           var column2 = $("#column2");
           //var childs1 = column1.childNodes;
           //var childs2 = column2.childNodes;
           var str = `<div class=\"card text-white bg-primary mb-3\" style=\"max-width: 20rem;\"><div class=\"card-header\">Terminal ${terminal}</div><div class=\"card-body\"><h4 class=\"card-title\">${destination}</h4><p class=\"card-text\">Flight No. ${flight_no}: Leave at ${boarding_time} ${leaving_date}, the total number of passenger is ${number_of_passengers}. Current status: ${status}.</p></div></div>`;
           if (document.getElementById("column1").childNodes.length<=document.getElementById("column2").childNodes.length) {
              column1.append(str);
              column1.append("\n");
           } else {
             column2.append(str);
             column2.append("\n"); 
           }
           */

           /*
           // adding a card
           var column1 = $("#column1");
           var str = "<div class=\"card text-white bg-primary mb-3\" style=\"max-width: 20rem;\"><div class=\"card-header\">Terminal T1-A2</div><div class=\"card-body\"><h4 class=\"card-title\">New York</h4><p class=\"card-text\">Leave at 8:30pm, the total number of passenger is 500. Current status: delayed.</p></div></div>";
           column1.append(str);
           column1.append("\n");
           */

           /* 
           //delete a card
           var column1 = document.getElementById("column1");
           var childs = column1.childNodes;
           alert(childs[childs.length-1].nodeName);
           column1.removeChild(childs[childs.length-1]);
           column1.removeChild(childs[childs.length-1]);
           alert("done!");
           */
           /*
           var keywordDiv=document.getElementById("key_word");
           var keyword=keywordDiv.value.trim(); 
           var word = {
            "keyword":keyword
           }
           */

           /*var table_body = $("#table_body");
           var str = "<tr class=\"table-light\"><th scope=\"row\">"+"hello"+"</th><td>Column content</td><td>Column content</td><td>Column content</td></tr>"
           table_body.append(str).trim();
           alert("hello")*/
           /*
           $.ajax(
           {
            type: "POST",
            data: word,
            success: function (data) {
                    // 这里remove的时候需要remove两次才能够去掉一个节点。第一次显示是#text，第二次才是TR.
                    //var table_body = document.getElementById("table_body");
                    //var childs = table_body.childNodes;
                    //var i = childs.length-1;
                    //alert(childs[i].nodeName)
                    //table_body.removeChild(childs[i]);
                    //table_body.removeChild(table_body.childNodes[childs.length-1]);
                    data = JSON.parse(data);
                    var table_body = $("#table_body");
                    var tr = $("#table_body>tr");
                    tr.remove();
                    var str = "<tr class=\"table-light\"><th scope=\"row\">"+data["flight_no"]+"</th><td>"+data["destination"]+"</td><td>"+data["leaving_date"]+"</td><td>"+data["boarding_time"]+"</td><td>"+data["terminal"]+"</td><td>"+data["status"]+"</td></tr>"
                    //var str = "<tr class=\"table-light\"><th scope=\"row\">"+data["destination"]+"</th><td>Column content</td><td>Column content</td><td>Column content</td><td>Column content</td><td>Column content</td></tr>"
                    table_body.append(str);
                    alert("done");
                },
           })
           */

        }
      </script>






</body>
</html>